<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="LogFileDirectory" value="LogsHistory/"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=xxxxxx;Initial Catalog=DataBaseName;User ID=xx;Password=xxx"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>